@tailwind base;
@tailwind components;
@tailwind utilities;

.backHome{
    /* background-color: rgb(97,97,97); */
}

.userItem{
    box-shadow: 0.3px 0.3px 0.3px 0px rgb(173, 173, 114);
    padding: 1rem;
}

.custom-card-image .card.image-full::before{
    border-radius: 0.5rem;
    opacity: 0.45;
}